@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 
    날짜 : 2025.01.10 (금)
    이름 : 김민희
    내용 : list.css 내용 작성

*/

/* reset */
*{padding: 0; margin: 0;}
a{text-decoration-line: none; color: #000;}



/* warp */
#wrap{width: 980px; height: auto; margin: 0 auto;}


/* header */
#header{
    width: 980px; 
    /* background-color: #ff9;  */
    margin: 0 auto;
    height: 20px;
    padding-top: 100px;
}

.h{
    margin-bottom: 20px;
}

.tit{
    margin-bottom: 20px;
}


/* cont1 */
.cont1{
    
}

.tb{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 7px;
}


thead{
    border-bottom: 1px solid #888;
    height: 30px;
    line-height: 30px;
}

tr{
}

th{
    border-bottom: 1px solid #888;
}

.write{
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #3574f0;
    color: #fff;
    transition: all 0.3s;
}

.write:hover{
    transition: all 0.3s;
    background-color: #000;
}

/* footer */
#footer{}
#footer::after{display: block; content: ""; clear: both;}
.copy{float: left; display: block; margin-top: 15px; font-size: 13px; color: #999;}

