<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modify</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" th:href="@{/css/modify.css}">
    <!--
        날짜 : 2025.03.02 (일)
        이름 : 김민희
        내용 : modify - 게시글 수정 페이지
    -->
</head>
<body>
<!-- #warp -->
<div id="wrap">
    <header id="header">
        <div class="h">
            <h3 class="tit">✏️ Spring Boot 익명게시판 Modify</h3>
        </div>
    </header><!-- #header -->

    <article class="cont1">
        <form th:action="@{/modify}" method="post">
            <input type="hidden" name="id" th:value="${board.id}">
            <table class="tb">
                <tbody>
                <!-- title : 제목 -->
                <tr>
                    <td class="title">제목</td>
                    <td>
                        <input type="text" name="title" th:value="${board.title}">
                    </td>
                </tr>

                <!-- uid : 작성자 -->
                <tr>
                    <td class="uid">작성자</td>
                    <td>
                        <input type="text" name="writer" th:value="${board.writer}">
                    </td>
                </tr>

                <!-- cont : 내용 -->
                <tr>
                    <td class="cont">내용</td>
                    <td>
                        <textarea name="content" th:text="${board.content}"></textarea>
                    </td>
                </tr>
                </tbody>
            </table><!-- .tb -->

            <div class="btns">
                <button type="submit" class="btn save">저장</button>
                <a th:href="@{/view(id=${board.id})}" class="btn cancel">취소</a>
            </div>
        </form><!-- .form -->
    </article><!-- .cont1 -->

    <footer id="footer">
        <span class="copy">copyright &copy;2025 Engineer_Kimminimanimu</span>
    </footer><!-- #footer -->

</div><!-- #warp -->
</body>
</html>