<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" href="/css/view.css">
    <!-- 
        날짜 : 2025.01.10 (금)
        이름 : 김민희
        내용 : view 페이지 구현
    -->
</head>
<body>
    <!-- #warp -->
    <div id="wrap">
        <header id="header">
            <div class="h">
                <h3 class="tit">👀 Spring Boot 익명게시판 View</h3>
                <!-- <p>날짜 : 2025.01.10 (금)</p> -->
            </div>
        </header><!-- #header -->

        <article class="cont1">
            <table class="tb">
                <colgroup>
                    <col width="10%" />
                    <col width="90%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>제목</th>
                        <td>제목</td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td>작성자</td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td>날짜</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>내용</td>
                    </tr>
                </tbody>
            </table><!-- .tb -->
        </article><!-- .cont1 -->
        
        <footer id="footer">
            <span class="copy">copyright &copy;2025 Engineer_Kimminimanimu</span>
        </footer><!-- #footer -->

    </div><!-- #warp -->

    
</body>
</html>